extends ../layout
block content
  article.balance_area
    if user
      .row
        .col-md-3.col-sm-4.col-xs-10
          table.table-responsive.table
            tr
              th 예상수익금(원화)
              th 비트수익
            tr
              td 준비중
              td 준비중
      .row
        .col-md-4.col-sm-4.col-xs-10
          table.table-responsive.table.table-hover
            tr
              th  거래소
              th  기축통화
              th  통화코드
              th  잔고(기축통화기준)
              th  현재가(기축통화기준)
            each balance_info in balance_infos
              tr
                td= balance_info.exchng_id
                td= balance_info.key_crnc_code
                td= balance_info.crnc_code
                td= balance_info.balance_amt
                td  준비중
    else
      div 로그인 후 이용하실 수 있습니다.

    script(type='text/javascript').
      var timer_id;
      var s_sise = io(':3000/sise');
      call_sise();
      s_sise.on('XCoinAPIResponse', function(rsData){

        if(rsData.status == '0000'){
          alert(rsData.data.closing_price);
          //document.getElementById('bit_sise').innerHTML='BTC(bithumb) : ' + rsData.data.closing_price;
          //timer_id = setInterval(call_sise, 20*1000*60);
        }
        else{
          //document.getElementById('bit_sise').innerHTML='BTC(bithumb) : ' +'해당서비스 임시장애중..';
          //clearInterval(timer_id);
        }
      });

      function call_sise(){
            s_sise.emit('recv_bithumb', {currency:'ETH'});
      };
