extends ../layout
block content
  article.balance_area
    if user
      .row
        .col-md-3.col-sm-4.col-xs-10
          table#tb_top2ticker.table-responsive.table
            tr
              th 비트코인
              th 이더리움
            tr
              td 준비중
              td 준비중
        .row
        .col-md-4.col-sm-4.col-xs-10
          table#tb_profit.table-responsive.table
            tr
              th 총수익
              th 수익(B)
              th 시세차익(B)
              th 증감(B)
            tr
              td 준비중
              td 준비중
              td 준비중
              td 준비중
      .row
        .col-md-6.col-sm-6.col-xs-12
          table#tb_balances.table-responsive.table.table-hover
            tr
              th  거래소
              th  기축통화
              th  통화코드
              th  잔고
              th  현재가(기축통화)
              th  평가금액(기축통화)
            each balance_info in balance_infos
              tr
                td= balance_info.exchng_id
                td= balance_info.key_crnc_code
                td= balance_info.crnc_code
                td= balance_info.balance_amt
                td  준비중
                td  준비중
    else
      div 로그인 후 이용하실 수 있습니다.

block append scripts
  script(src='/socket.io/socket.io.js')
  script(src='/balance/Ticker.js')
  script(type='text/javascript').

    $(function() {

      var top2currency = new Ticker(io('/top2currency_ticker'));
      
      let req_list = [{'exchng_id':'Coinone', 'key_crnc_code':'KRW', 'crnc_code':'BTC'},
                      {'exchng_id':'Coinone', 'key_crnc_code':'KRW', 'crnc_code':'ETH'}]
                      
      top2currency.setReqList(req_list);
      top2currency.getTicker(function(res_list){
        set_top2currency_close_price(res_list);
      });

      var balance = new Ticker(io('/balance_ticker'));
      balance.setReqList(get_balance_req_list());
      balance.getTicker(function(res_list){
        set_balance_close_price(res_list);
        get_profit();
      });
    });

    function set_balance_close_price(res_list){

      $('#tb_balances').find("tr:has('td')").each(function (i, item) {

        let close_price = res_list[i].close_price;
        let eval_amt = close_price*$(this).find('td').eq(3).html();

        if(res_list[i].key_crnc_code == 'KRW'){
          $(this).find('td').eq(4).html(Number(close_price).toLocaleString('en'));
          $(this).find('td').eq(5).html(Number(eval_amt.toFixed(0)).toLocaleString('en'));
        }
        else{
          $(this).find('td').eq(4).html(close_price);
          $(this).find('td').eq(5).html(eval_amt.toFixed(8));
        }
      });
    };

    function set_top2currency_close_price(res_list){

      $('#tb_top2ticker').find("tr:has('td')").each(function (i, item) {

        for(var j = 0, length = res_list.length; j < length; j++){
          var close_price = res_list[j].close_price;

          if(res_list[j].key_crnc_code == 'KRW'){
            $(this).find('td').eq(j).html(Number(close_price).toLocaleString('en'));
          }
          else{
            $(this).find('td').eq(j).html(close_price);
          }
        }
      });
    };

    function get_balance_req_list(){

      const req_list = new Array();

      $('#tb_balances').find("tr:has('td')").each(function () {

        let req_info = {};

         req_info['exchng_id']     = $(this).find('td').eq(0).text()
         req_info['key_crnc_code'] = $(this).find('td').eq(1).text()
         req_info['crnc_code']     = $(this).find('td').eq(2).text()

         req_list.push(req_info);
      });

      return req_list;
    };
    
    function get_profit(){
      
      /* Promise Job#1 ajax request */
      const _queryProfit = function(param){
  
        return new Promise(function(resolve, reject){
  
          $.ajax({
                url:'/balance/profit',
                type: 'POST',
          })
          .done(function(data, textStatus, jqXHR) {
            resolve(data);
          })
          .fail(function(jqXHR, textStatus, errorThrown){
            reject(textStatus);
          })
          .always(function(data, textStatus, jqXHR){
            
          });
        });
      };
      
      _queryProfit().then(function(data){
        
        let bit_profit = 0;
        let eval_amt = 0;
        
        $('#tb_balances').find("tr:has('td')").each(function (i, item) {
  
          let key_crnc_code = $(this).find('td').eq(1).html();

          if(key_crnc_code == 'BTC'){
            
            let  qry = $(this).find('td').eq(3).html();
            let  unit_prc = $(this).find('td').eq(4).html();

            eval_amt = eval_amt + unit_prc*qry;
          }
        });
        
        bit_profit = (eval_amt + data.sumSellAmt) - data.sumBuyAmt;
        
        $('#tb_profit').find("tr:eq(1)").find('td').eq(3).html(bit_profit.toFixed(4));
        
        if(bit_profit < 0)
        {
          $('#tb_profit').find("tr:eq(1)").find('td').eq(3).css("color", "red");
        }
        else{
          $('#tb_profit').find("tr:eq(1)").find('td').eq(3).css("color", "blue");
        }
      })
      .catch(function(err){
          res.status(500).send('문제가 발생했습니다. 빠른 시일안에 해결하겠습니다.');
      });
    };
