extends ../layout
block content
  article.balance_area
    if user
      .row
        .col-md-3.col-sm-4.col-xs-10
          table.table-responsive.table
            tr
              th 예상수익금(원화)
              th 비트수익
            tr
              td 준비중
              td 준비중
      .row
        .col-md-6.col-sm-6.col-xs-12
          table#tb_balances.table-responsive.table.table-hover
            tr
              th  거래소
              th  기축통화
              th  통화코드
              th  잔고(기축통화기준)
              th  현재가(기축통화기준)
            each balance_info in balance_infos
              tr
                td= balance_info.exchng_id
                td= balance_info.key_crnc_code
                td= balance_info.crnc_code
                td= balance_info.balance_amt
                td  준비중
    else
      div 로그인 후 이용하실 수 있습니다.

block append scripts
  script(type='text/javascript').

    var bal_ticker;
    var req_lists;
    var startPoint = '/balance/ticker';

    $(function() {

      bal_ticker = io(startPoint);

      req_lists = get_req_list();

      call_sise();

      bal_ticker.on('XCoinAPIResponse', function(rsData){

        set_close_price(rsData.res_lists);
      });
    });

    function call_sise(){

          if(req_lists)
          {
            bal_ticker.emit(startPoint, {'req_lists':req_lists});
          }

    };

    function get_req_list(){

      var req_lists = new Array();

      $('#tb_balances').find("tr:has('td')").each(function () {

        var req_info = {};

         req_info['exchng_id']     = $(this).find('td').eq(0).text()
         req_info['key_crnc_code'] = $(this).find('td').eq(1).text()
         req_info['crnc_code']     = $(this).find('td').eq(2).text()

         req_lists.push(req_info);
      });

      return req_lists;
    };

    function set_close_price(res_lists){

      $('#tb_balances').find("tr:has('td')").each(function (i, item) {

      $(this).find('td').eq(4).html(res_lists[i].res_data.data.closing_price);

      });

    };
