extends ../layout
block content
  article.balance_area
    if user
      .row
        .col-md-3.col-sm-4.col-xs-10
          table#tb_top2ticker.table-responsive.table
            tr
              th 비트코인
              th 이더리움
            tr
              td 준비중
              td 준비중
        .row
        .col-md-4.col-sm-4.col-xs-10
          table.table-responsive.table
            tr
              th 총수익
              th 수익(B)
              th 시세차익(B)
              th 증감(B)
            tr
              td 준비중
              td 준비중
              td 준비중
              td 준비중
      .row
        .col-md-6.col-sm-6.col-xs-12
          table#tb_balances.table-responsive.table.table-hover
            tr
              th  거래소
              th  기축통화
              th  통화코드
              th  잔고(기축통화기준)
              th  현재가(기축통화기준)
            each balance_info in balance_infos
              tr
                td= balance_info.exchng_id
                td= balance_info.key_crnc_code
                td= balance_info.crnc_code
                td= balance_info.balance_amt
                td  준비중
    else
      div 로그인 후 이용하실 수 있습니다.

block append scripts
  script(type='text/javascript').

    $(function() {

      top2currency_getTicker();
      balance_getTicker();
    });

    function balance_getTicker(){

      var channel = io('/balance_ticker');
      var req_lists = get_balance_req_list();
      getTicker(channel, req_lists);

      channel.on('services', function(rsData){
        set_balance_close_price(rsData.res_lists);
      });
    }

    function set_balance_close_price(res_lists){

      $('#tb_balances').find("tr:has('td')").each(function (i, item) {

        var close_price = res_lists[i].res_data.data.closing_price;
        $(this).find('td').eq(4).html(Number(close_price).toLocaleString('en'));
      });
    };

    function top2currency_getTicker(){

      var channel = io('/top2currency_ticker');
      var req_lists = [{'exchng_id':'BITH', 'key_crnc_code':'KRW', 'crnc_code':'BTC'},
                       {'exchng_id':'BITH', 'key_crnc_code':'KRW', 'crnc_code':'ETH'}]

      getTicker(channel, req_lists);

      channel.on('services', function(rsData){
        set_top2currency_close_price(rsData.res_lists);
      });
    }

    function set_top2currency_close_price(res_lists){

      $('#tb_top2ticker').find("tr:has('td')").each(function (i, item) {

        for(var j = 0, length = res_lists.length; j < length; j++){
          var close_price = res_lists[j].res_data.data.closing_price;
          $(this).find('td').eq(j).html(Number(close_price).toLocaleString('en'));
        }
      });
    };

    function calc_bit_profit(){

      $('#tb_balances').find("tr:has('td')").each(function (i, item) {

        if($(this).find('td').eq(1).text() == 'BTC'){
          var balance = Number($(this).find('td').eq(3).text());
          var close_price = Number($(this).find('td').eq(4).text());

          (balance*close_price)
        }

        $(this).find('td').eq(4).html(Number(close_price).toLocaleString('en'));
      });
    }

    function getTicker(channel, req_lists){

        if(req_lists)
        {
          channel.emit('services', {'svc_id':'getTicker', 'auto_resend':1, 'interval':10*1000, 'req_lists':req_lists});
        }
    };

    function get_balance_req_list(){

      var req_lists = new Array();

      $('#tb_balances').find("tr:has('td')").each(function () {

        var req_info = {};

         req_info['exchng_id']     = $(this).find('td').eq(0).text()
         req_info['key_crnc_code'] = $(this).find('td').eq(1).text()
         req_info['crnc_code']     = $(this).find('td').eq(2).text()

         req_lists.push(req_info);
      });

      return req_lists;
    };
